* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(0, 0, 0);
    color: rgb(253, 251, 251);
    overflow: hidden;
    overflow-y: scroll;
    border-style: groove;
    border-color: aliceblue;
}