#education {
    padding: 3rem 1rem;
    background-color: #121212; /* Dark black background */
    color: #f5f5f5;
    text-align: center;
      margin-top: 10%;
}

#education h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #d4a373; /* Light brown accent */
    border-bottom: 2px solid #d4a373;
    padding-bottom: 0.5rem;
}

.edu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 1200px;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .edu-grid {
        grid-template-columns: 1fr;
    }
}

.edu-card {
    background-color: #1f1f1f;
    border: 1px solid #70452b;
    border-radius: 12px;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.edu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.edu-card h3 {
    color: #d4a373;
    margin-bottom: 0.5rem;
}

.edu-degree {
    display: block;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.edu-duration {
    display: block;
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 1rem;
  
}

.edu-card p {
    font-size: 0.9rem;
    line-height: 1.4;
}
